body{
    background:pink;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background: blue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}